<article class="pokemon-card">
  <img class="pokemon-card__image" [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + pokemon.id + '.png'" alt={{pokemon.name}}>
  <h1 class="pokemon-card__name">{{pokemon.name}}</h1>

  <div class="pokemon-card__details">
    <section class="pokemon-card__type">
      <h2 class="pokemon-card__section-title">Type</h2>
      <ul class="pokemon-card__type-list">
        @for (type of pokemon.types; track $index; let position = $index) {
          <li>{{type?.type?.name}}</li>
        }
      </ul>
    </section>

    <section class="pokemon-card__abilities">
      <h2 class="pokemon-card__section-title">Abilities</h2>
      <ul class="pokemon-card__abilities-list">
        @for (ability of pokemon.abilities; track $index; let position = $index) {
          <li>{{ability?.ability?.name}}</li>
        }
      </ul>
    </section>
  </div>

  <a (click)="openModalHandler(pokemon)" class="pokemon-card__button">See Details</a>
</article>
