.home-page {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #cfd9df 0%, #e2ebf0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}

.home-page__cards-container {
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 20px;
  min-width: 300px;
  width: 90%;
}

@media (max-width:400px) {
  .home-page__cards-container{
    justify-content: center;
    align-content: center;
  }
}
